/* ====================== Common CSS ======================= */
* {
    margin: 0;
    padding: 0;
}

h1,
h4,
a {
    font-family: 'Inter', sans-serif;
}

h2 {
    font-family: 'Lobster', cursive;
}

p {
    font-family: 'Poppins', sans-serif;
    color: #707070;
}

.button {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding: 16px 20.5px;
    background: #EF233C;
    border-radius: 5px;
    color: white;
    text-decoration: none;
}

.button:hover {
    box-shadow: 5px 5px 40px lightcoral;
    transition: .4s;
}

/* ====================== Header Area ======================= */
header {
    background-image: url("./images/Rectangle\ 1.png");
    background-repeat: no-repeat;
    background-size: 1440px 700px;
    max-width: 1440px;
    width: 100%;
    height: 700px;
}

.main-header {
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #1A1A1A -0.7%, rgba(26, 26, 26, 0) 100%);
}

.header-text {
    color: white;
    padding-top: 180px;
    padding-left: 219px;
}

.header-text h1 {
    font-weight: 700;
    font-size: 55px;
    line-height: 75px;
}

.header-text p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    width: 480px;
    height: 84px;
    margin-top: 20px;
    margin-bottom: 50px;
    color: white;
}



/* ====================== Navbar Area ======================= */
/* ====================== Navbar Area ======================= */
.nav-area {
    position: sticky;
    top: 0;
    bottom: 0;
    max-width: 1440px;
    width: 100%;
    background: #0B0D17;
    z-index: 100;
}

.nav-area .navbar {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.navbar .logo h2 {
    font-family: 'Lobster', cursive;
    color: #EF233C;
    font-weight: 500;
    font-size: 40px;
    line-height: 44px;
    padding: 10px 0;
}

.navbar nav ul {
    list-style: none;
    display: flex;
}

.navbar nav ul li {
    padding: 20px 0 0 20px;
}

.navbar nav ul a {
    color: white;
    text-decoration: none;
}

/* ====================== Main Area ======================= */
main {
    max-width: 1440px;
    width: 100%;
}

/* ================= First Section ================== */
.first-section {
    margin: 130px 204px;
    display: flex;
}

.first-section .text-area {
    margin-top: 50px;
    width: 493px;
    margin-right: 82px;
}

article h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
}

article p {
    margin-top: 20px;
}

article p.bottom {
    margin-bottom: 50px;
}

.first-section .img-area img {
    width: 456px;
    height: 477px;
}

.first-section .img-area {
    position: relative;
}

.first-section .img-area img:last-child {
    position: absolute;
    width: 112px;
    height: 112px;
    top: 182px;
    left: 172px;
    border-radius: 50%;
}

.first-section .img-area img:last-child:hover {
    box-shadow: 5px 5px 40px lightcoral;
    transform: rotate(360deg);
    transition: .5s;
}

/* ================= Second Section ================== */
.second-section {
    margin: 100px 204px;
    display: flex;
}

.second-section .text-area {
    margin-top: 50px;
    width: 482px;
    margin-left: 82px;
}

.second-section .img-area img {
    width: 456px;
    height: 477px;
}



/* ================= Donate Card Section ================== */
.donate-card-section {
    margin-top: 130px;
}

.donate-card-section .top-section {
    text-align: center;
}

.donate-card-section h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
}

.donate-card-section p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-top: 20px;
}

.donate-card-section .card-section {
    margin: 50px 204px 0 204px;
    display: flex;

}

.donate-card-section .card-section .card {
    width: 461px;
    background-color: #FEF4F5;
    padding: 40px;
    display: flex;
    border-radius: 10px;
}

.donate-card-section .card-section .card:hover {
    background-color: #f3cbcf;
    transition: .5s;
    margin-top: -20px;
}

.donate-card-section .card-section .card img {
    width: 56px;
    height: 56px;
}

.donate-card-section .card-section .card .card-text {
    padding-left: 20px;
}

.donate-card-section .card-section .card .card-text h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.donate-card-section .card-section .card .card-text p {
    font-weight: 400;
    font-size: 16px;
}

.donate-card-section .card-section .card-margin {
    margin-left: 24px;
}



/* ====================== Blank Image Section ======================= */

.blank-img-section {
    max-width: 1440px;
    width: 100%;
}

.blank-img-section .image-area {
    display: flex;
    width: 1140px;
    margin: 130px auto 0 auto;
}

.blank-img-section .image-area .images {
    width: 364px;
    height: 391px;
}

.blank-img-section .img-2 {
    margin: 0 24px;
}



/* ====================== Blog Area ======================= */

.blog-area {
    margin-top: 130px;
}

.blog-head {
    text-align: center;
}

.blog-head h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
}

.blog-head p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-top: 20px;
}

.blog-area .blog-body {
    display: flex;
    width: 1140px;
    margin: 50px auto 0 auto;
}

.blog-area .blog-body .blog {
    border: 1px solid #D9D9D9;
    border-radius: 10px;
}

.blog-area .blog-body .blog-2 {
    margin: 0 24px;
}

.blog-area .blog-body .blog .text {
    padding: 28px;
}

.blog-area .blog-body .blog .text h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.blog-area .blog-body .blog .text p {
    margin-top: 10px;
    margin-bottom: 28px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.blog-area .blog-body .blog .text a {
    color: #EF233C;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
}

.blog-area .blog-body .blog .text {
    padding: 28px;
}



/* ====================== Footer Area ======================= */

footer {
    max-width: 1440px;
    width: 100%;
    background: #0B0D17;
    margin-top: 130px;
}

footer .footer-text {
    text-align: center;
    padding-top: 43px;
    padding-bottom: 42px;
}

footer .footer-text h2 {
    font-family: 'Lobster', cursive;
    color: #EF233C;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
}

footer .footer-text p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-top: 24px;
}